@font-face {
    font-family: "Museosans100";
    // font-weight: 100;
    src: url("../fonts/museosans-100-webfont.ttf");
  }
  @font-face {
    font-family: "Museosans300";
    // font-weight: 300;
    src: url("../fonts/museosans-300-webfont.ttf");
  }
  @font-face {
    font-family: "Museosans500";
    // font-weight: 500;
    src: url("../fonts/museosans_500-webfont.ttf");
  }
  @font-face {
    font-family: "Museosans700";
    // font-weight: 700;
    src: url("../fonts/museosans_700-webfont.ttf");
  }
  @font-face {
    font-family: "Museosans_900";
    src: url("../fonts/museosans_900-webfont.ttf");
  }
  